@(songForm: Form[Song])
@import helper._
<html>
    <head>
        <title>Song Edit Page</title>
    </head>
    <body>
        <h1>Edit a song!</h1>
        @helper.form(action = helper.CSRF(routes.SongController.update())) {
            @helper.inputText(songForm("id"))
            @helper.inputText(songForm("title"))
            @helper.inputText(songForm("artist"))
            @helper.inputText(songForm("priceInDollars"))
            @helper.inputText(songForm("durationInMinutes"))


            <input type="submit" value="Edit Song">
            }
    </body>
</html>
