@import java.util
@(songList: util.HashSet[Song])

@layout("Songlist") {
    <h1><b>View all the songs on this page.</b></h1>
    <br>
    @for(songToManipulate <- songList){
        <a class="btn btn-link" href="@routes.SongController.show(songToManipulate.getId())">@songToManipulate.getTitle()</a>
        <p>Artist : @songToManipulate.getArtist</p>
        <p>Price: $@songToManipulate.getPriceInDollars</p>
        <p>Duration in minutes: @songToManipulate.getDurationInMinutes</p>
        <br>
    }
    <br>
    <a class="btn btn-success" href="@routes.SongController.create()">
        <i class="glyphicon glyphicon-plus-sign"></i>
        Create Song
    </a>
}
