@(song: Song)

    @layout(song.getTitle) {
        <h2>@song.getTitle</h2>
        <p>Artist : @song.getArtist</p>
        <p>Price : $@song.getPriceInDollars</p>
        <p>Duration in minutes: @song.getDurationInMinutes</p>

        <a class="btn btn-primary" href="@routes.SongController.edit(song.getId)">Edit</a>

        <!-- The button below sends a onClick request that deletes a song entry using the HTTP 'DELETE' request
             The 'helper' class facilitates redirects with a CSRF token -->
        <button class="btn btn-danger" onclick="sendDeleteRequest('@helper.CSRF(routes.SongController.delete(song.getId()))',
        '@helper.CSRF(routes.SongController.index())'
        )"> Delete</button>
    }